############################
# OS / General
############################
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.swp
*.swo
*~

############################
# IDEs / Editors
############################
.idea/
.vscode/
.atom/
*.iml
*.ipr
*.iws

############################
# Flutter / Dart
############################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

############################
# Android
############################
/android/app/debug
/android/app/profile
/android/app/release

############################
# iOS / macOS
############################
.swiftpm/
.build/
.buildlog/
.history
.svn/

############################
# Python
############################
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

############################
# ML / AI Models
############################
models/
*.tflite
*.pb
*.h5
*.onnx
*.pth

############################
# Logs
############################
logs/
app.*.symbols
app.*.map.json